# Python
__pycache__/
*.py[cod]
*.so
.env
venv/
pyvenv.cfg
bin/
lib/
include/
.Python
*.pyc
.env
.venv
env/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# Terraform
/terraform/*.tfvars
/terraform/*.tfvars.json
/terraform/.terraform/
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/.terraform.lock.hcl
/terraform/crash.log